* { box-sizing: border-box;
    padding: 0px; margin: 0px;
    font-family: "Roboto", Helvetica, sans-serif; font-size: 18px;
}

:root{
    --marginSize: 20px;
}

h1 {
    color: rgba(0, 0, 0, 0.685);
}